body {
  margin: 0;
  box-sizing: border-box;

  --color-blue: #00acdc;
  --color-black: #000;
  --header-height: 60px;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-black);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.nav__link {
  color: var(--color-black);
  font-size: 12px;
  line-height: var(--header-height);
  text-decoration: none;
  display: block;
  position: relative;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: var(--color-blue);
}

.nav__link.is-active {
  color: var(--color-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 8px;
  width: 100%;
  background: var(--color-blue);
}
